<div class="modal fade" tabindex="-1" id="Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"></h3>
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-solid ki-cross fs-1"></i>
                </div>
                <!--end::Close-->
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>