@model ResetPasswordFormViewModel

<form asp-controller="Users"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete">
    
    <input type="hidden" asp-for="Id" />
    <!--begin::Input group-->
    <div class="form-floating mb-7">
        <input type="password" class="form-control form-control-solid" asp-for="Password" placeholder="Password" />
        <label asp-for="Password"></label>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="form-floating mb-7">
        <input type="password" class="form-control form-control-solid" asp-for="ConfirmPassword" placeholder="Confirm Password" />
        <label asp-for="ConfirmPassword"></label>
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <!--end::Input group-->

    <partial name="_ModelFooter" />
</form>