@model SearchFormViewModel
@{
	ViewData["Title"] = "Subscribers";
}

<!--begin::Form-->
<form asp-action="Search"
	  data-ajax="true"
	  data-ajax-method="post"
	  data-ajax-begin="disableSubmitButton"
	  data-ajax-update="#Result"
	  data-ajax-failure="showErrorMessage"
	  data-ajax-complete="onModalComplete">
	<!--begin::Card-->
	<div class="card mb-7">
		<div class="card-header">
			<h3 class="card-title">Find Subscriber</h3>
		</div>
		<!--begin::Card body-->
		<div class="card-body">
			<!--begin::Compact form-->
			<div class="d-flex align-items-center">
				<!--begin::Input group-->
				<div class="position-relative w-md-400px me-md-2">
					<i class="ki-solid ki-magnifier fs-3 text-gray-500 position-absolute top-50 translate-middle ms-6"></i>
					<input type="text" class="form-control form-control-solid ps-10" placeholder="Search by Mobile, National Id Or Email..." asp-for="value" />
				</div>
				<!--end::Input group-->
				<!--begin:Action-->
				<div class="d-flex align-items-center">
					<button type="submit" class="btn btn-primary me-5">Search</button>
				</div>
				<!--end:Action-->
			</div>
			<!--end::Compact form-->
		</div>
		<!--end::Card body-->
	</div>
	<!--end::Card-->
</form>
<!--end::Form--> 
<div id="Result"></div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}